In [3]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.ensemble import RandomForestClassifier
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn import metrics, linear_model
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn import svm, datasets
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_binarize
from sklearn.multiclass import OneVsRestClassifier
from scipy import interp
from sklearn.metrics import roc_auc_score

In [4]:
df = pd.read_csv('flights_final.csv')
df = df.drop(['Unnamed: 0'],axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97682 entries, 0 to 97681
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   mkt_carrier          97682 non-null  int64
 1   origin               97682 non-null  int64
 2   dest                 97682 non-null  int64
 3   dep_delay            97682 non-null  float64
 4   arr_delay            97682 non-null  float64
 5   crs_elapsed_time     97682 non-null  int64
 6   actual_elapsed_time  97682 non-null  float64
 7   air_time             97682 non-null  float64
 8   distance             97682 non-null  int64
 9   month                97682 non-null  int64
 10  weekday              97682 non-null  int64
 11  dep_hour             97682 non-null  int64
 12  time_cat             97682 non-null  int64
 13  avg_delay            97682 non-null  float64
dtypes: float64(5), int64(9)
memory usage: 10.4 MB

In [5]:
df1 = pd.read_csv('test_df.csv')

In [6]:
df1.shape

(150623, 9)

In [7]:
df.head()

,mkt_carrier,origin,dest,dep_delay,arr_delay,crs_elapsed_time,actual_elapsed_time,air_time,distance,month,weekday,dep_hour,time_cat,avg_delay
0,2,74,145,-6.0,-4.0,59,61.0,31.0,83,11,2,16,2,0.363720
1,2,249,95,40.0,24.0,70,54.0,34.0,175,12,3,17,3,50.452426
2,7,349,316,-6.0,0.0,120,126.0,100.0,727,10,3,9,2,0.363720
3,3,22,363,19.0,31.0,71,83.0,43.0,250,6,0,14,3,50.452426
4,6,118,127,19.0,-10.0,186,157.0,137.0,1065,11,2,17,1,-10.006351

In [8]:
X = df.drop(['time_cat','arr_delay','dep_delay','actual_elapsed_time','avg_delay'],axis=1)
y = df['arr_delay']

In [9]:
X

,mkt_carrier,origin,dest,crs_elapsed_time,air_time,distance,month,weekday,dep_hour
0,2,74,145,59,31.0,83,11,2,16
1,2,249,95,70,34.0,175,12,3,17
2,7,349,316,120,100.0,727,10,3,9
3,3,22,363,71,43.0,250,6,0,14
4,6,118,127,186,137.0,1065,11,2,17
...,...,...,...,...,...,...,...,...,...
97677,8,191,166,177,131.0,1222,12,6,18
97678,2,293,253,141,99.0,646,6,5,15
97679,3,146,328,105,84.0,463,12,0,17
97680,7,268,217,195,170.0,1444,3,0,14
97681,8,215,190,182,160.0,1139,4,0,18

In [10]:
scaler = StandardScaler()
scaled_df = scaler.fit_transform(X)

In [11]:
X_test, X_train, y_test, y_train = train_test_split(scaled_df, y, test_size=0.30, random_state=42)

In [13]:
#Create a Gaussian Classifier
clf=RandomForestRegressor(n_estimators=100, max_depth=12)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

RandomForestRegressor(max_depth=12)

In [18]:
training_preds = clf.predict(X_train)
y_pred = clf.predict(df1.values)

#training_accuracy = accuracy_score(y_train, training_preds)
#val_accuracy = accuracy_score(y_test, y_pred)

#print("Training Accuracy: {:.4}%".format(training_accuracy * 100))
#print("Validation accuracy: {:.4}%".format(val_accuracy * 100))

In [17]:
# The coefficients
#print('Coefficients: \n', clf.coef_)
# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(y_test, y_pred))

Mean squared error: 1259.77
Coefficient of determination: 0.11

In [ ]:
y_pred.shape

In [19]:
y_pred

array([22.75477747, 22.13444252, 51.08486519, ..., 50.20819852,
       50.20819852, 50.20819852])

In [ ]:
y_test

In [20]:
pred = pd.DataFrame(y_pred)

In [21]:
pred

                0
0       22.754777
1       22.134443
2       51.084865
3       51.084865
4       51.084865
...           ...
150618  50.208199
150619  50.208199
150620  50.208199
150621  50.208199
150622  50.208199

[150623 rows x 1 columns]

In [22]:
pred.to_csv(r'prediction.csv')

### Hyperparameter tuning

In [ ]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 50, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)

In [ ]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42)
# Fit the random search model
rf_random.fit(X_train, y_train)

In [ ]:
y_pred = rf_random.predict(X_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
r2 = r2_score(y_test,y_pred)

print('rmse: ',rmse)
print('r2_score:', r2)